<?xml version="1.0" encoding="utf-8"?>
<!-- 

    This file is part of Brewzor.

    Copyright (C) 2010 James Whiddon

    Brewzor is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Brewzor is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Brewzor.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	package="com.brewzor.calculator" android:versionCode="3" android:versionName="1.1.0">
	
	<uses-sdk android:minSdkVersion="3" />

	<application android:icon="@drawable/icon" android:label="@string/app_name_long">
		
		<activity android:name=".BrewzorActivity" android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

 		<activity android:name=".GravityCorrectionCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>

		<activity android:name=".CylinderVolumeCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".CylinderHeightCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".StrikeTemperatureCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".BatchSpargeCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".BoilOffCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".CarbonationCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".HydrometerCorrectionCalculatorActivity" 
			android:windowSoftInputMode="adjustPan"></activity>
		
		<activity android:name=".UnitConverterActivity" 
			android:windowSoftInputMode="adjustPan"></activity>

		<activity android:name=".BrewzorPreferencesActivity" 
			android:label="@string/set_preferences"></activity>
		<activity android:name=".AboutActivity"></activity>
		<activity android:name=".HelpActivity"></activity>
	</application>

</manifest> 